<header id="header"><!--header-->
 
  
<div class="header-middle"><!--header-middle-->
  <div class="container">
    <div class="row">
      <div class="col-md-4 clearfix">
         
          
      
       
      </div>
      <div class="col-md-8 clearfix">
        <div class="shop-menu clearfix pull-right">
          <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Home', '/welcome'  %></li>
            <li><a href="users/edit"><i class="fa fa-user"></i> Account</a></li>
            <li>
              <a href="#"><i class="fa fa-user"></i>Checkout</a>
            <li>
             <%= link_to "Cart", carts_path(@product) %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
            </li>
            <li>
              <% if current_user.admin_role? %>
                <%= link_to 'Manage website', rails_admin_path %>
              <% end %>
            </li>
            <li>
              <% if can? :create, Product %>
                <%= link_to 'Add New product', new_product_path %>
              <% end %>
            </li>
          <% else %>
          <li>
            <%= link_to(  new_user_session_path)  do  %>  
              <i class="fa fa-lock"></i>  Login
            <% end %>
          </li>
          <% end %>
          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header-middle-->
  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">

        </div>
        <div class="col-sm-3">
        <%= form_tag(search_page_path, :method => "get",   
        class: 'navbar-form navbar-left') do %>  
      <div class="search_box pull-right">  
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
      </div>  
    <% end %>
        
    
    
    <!-- add form tag with action that renders to "pages/search" method get -->
      <!-- <input type="text" name="search_name" >
      <input type="submit" value="Search for product">
    </form> -->
        </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->