<section>
<div class="container">
  <div class="row">
      <div class="left-sidebar">
        <h2>Category</h2>
        <% @categories.each do |cat|%>
        <div class="panel-group category-products" id="accordian">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a ><%= cat.name%></a></h4>
            </div>
          </div>
          <%end%>
        </div>
        <div class="brands_products">
          <h2>Brands</h2>
          <div class="brands-name">
          <% @brands.each do |brand| %>
            <ul class="nav nav-pills nav-stacked">
              <li><a ><%= brand.name%></a></li>
            </ul>
             <% end %>
          </div>
      </div>
    </div>
    
    <div class="col-sm-9 padding-right">
      <div class="features_items">
        <h2 class="title text-center">Products</h2>
         <% @products.each do |product| %>
        <div class="col-sm-4">

           
          <div class="product-image-wrapper">
         
            <div class="single-products">
                <div class="productinfo text-center">
                  <img src="<%= product.avatar %>" alt=""  style="width: 18rem;"/>
                  <h2><%= product.price %>$</h2>
                  <p><%= product.title %></p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2><%= product.price %>$</h2>
                    <p><%= product.title %></p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                  </div>
                </div>
            </div>
            <div class="choose">
              <ul class="nav nav-pills nav-justified">
                <li><%= link_to 'More Details', welcome_path(product) %></li>
                
              </ul>
            </div>
          </div>
        </div>   
        <% end %>   
      </div>
      
    </div>
  </div>
</div>
</section>
