<div class="container">
    <div class="col-sm-3">
        <%= form_with scope: :category, url: categories_path, local: true do |form| %>   
            
          

            <p>
              <%= form.label :Category_Name %><br>
              <%= form.text_field :name %>
            </p>
          
            <label class="btn btn-success">
                Save category
                <span style="display:none;">
                    <%= form.submit %>
                </span>
            </label>
        <% end %>

        <%= link_to 'Back', categories_path %>
    </div>
</div>